@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
h1, p, h2, h3
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
li, a, button
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo
{
    cursor: pointer;
}
.nav__links
{
    list-style: none;
}
.nav__links li
{
    display: inline-block;
    margin: 0 20px;
}

.nav__links li a
{
    font-size: 26px;
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover
{
    color: aliceblue;
}
button
{
    padding: 9px 25px;
    background-color: rgb(183, 194, 219);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
button:hover
{
    background-color: rgba(167, 182, 185, 0.8);
}

/*Hero Image*/
.aboutme
{
    display: flex;
    margin-top: 100px;
    justify-content: center;
}
.aboutme p
{
    padding-top: 5px;
}
.image  img
{
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 190px;
}
/*CV*/
.Cv
{
    display: flex;
    margin-top: 100px;
    justify-content: center;
}
.cvdown
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.cvIntro p 
{
    padding: 5px;
}

/*Experience*/
.expIntro
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.intern
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.intern p
{
    padding: 2px;
}
.spacing
{
    margin-top: 10px;
}
.net
{
    margin: 10px
}
/*Projects*/
.Projects
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.project1
{
    margin-left: 50px;
}
.projectDetail
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.colorRes a:hover
{
    background: rgb(54, 212, 6);
}
.project1 p 
{
    margin-bottom: 5px;
    padding-top: 2px;
}

